{% extends 'admin_base.html.twig' %}

{% block title %}{{'image.add'|trans}}{% endblock %}

{% block body %}
    <h1>{{'image.add'|trans}}</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">{{'list.return'|trans}}</a>
{% endblock %}
