{% extends 'admin_base.html.twig' %}

{% block body %}
<h1>Supprimer une image</h1>

{{ form_start(form) }}
{% embed 'decorators/_card.html.twig' with {"class": "border-danger"} %}
{% block body %}
    <p>{{'image.delete.confirm'|trans}} "{{ image.name }}".</p>
    {% if image.path is not empty %}
        <img src="{{ asset(image.webPath) }}" style="max-height: 500px"/>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger'}}) }}
    <a href="{{ path('image_index') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% endembed %}
{{ form_end(form) }}

{% endblock body %}
