{% extends 'admin_base.html.twig' %}

{% block title %}{{'image.edit'|trans}}{% endblock %}

{% block body %}
    <h1>{{'image.edit'|trans}}</h1>

    {{ include('image/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('image/_delete_form.html.twig') }}

    <a href="{{ path('image_index') }}">{{'list.return'|trans}}</a>
{% endblock %}
