{% extends 'admin_base.html.twig' %}

{% block title %}{{'image.index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'image.index'|trans}}</h1>
    <div class="table-responsive" id="catg">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'image.id'|trans}}</th>
                    <th>{{'image.name'|trans}}</th>
                    <th>{{'image.path'|trans}}</th>
                    <th>{{'actions'|trans}}</th>
                </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.name }}</td>
                    <td>{{ image.path }}</td>
                    <td>
                        <a href="{{ path('image_show', {'id': image.id}) }}">voir</a>
                        <a href="{{ path('image_edit', {'id': image.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{'no.records.found'|trans}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('image_add') }}">{{'image.add'|trans}}</a>
    </div>
{% endblock %}
