{% extends 'admin_base.html.twig' %}

{% block title %}{{'category.add'|trans}}{% endblock %}

{% block body %}
    <h1>{{'category.add'|trans}}</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">{{'category.list.return'|trans}}</a>
{% endblock %}
