{% extends 'admin_base.html.twig' %}

{% block body %}
<h1>Supprimer une catégorie</h1>

{{ form_start(form) }}
{% embed 'decorators/_card.html.twig' with {"class": "border-danger"} %}
{% block body %}
    <p>{{'category.delete.confirm'|trans}} "{{ category.name }}".</p>
{% endblock %}

{% block footer %}
    {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger'}}) }}
    <a href="{{ path('category_index') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% endembed %}
{{ form_end(form) }}

{% endblock body %}
