{% extends 'admin_base.html.twig' %}

{% block title %}{{'category.edit'|trans}}{% endblock %}

{% block body %}
    <h1>{{'category.edit'|trans}}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('category/_delete_form.html.twig') }}

    <a href="{{ path('category_index') }}">retour à la liste</a>
{% endblock %}
