{% extends 'admin_base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">afficher</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_add') }}">Créer une nouvelle catégorie</a>
{% endblock %}
