{% extends 'base.html.twig' %}

{% block title %}{{'category'|trans}}{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
    
        <div class="col-12 text-center mt-5">
            <h1>{{ category.name }}</h1>
        </div>

        {% for beer in category.beers %}

        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center text-center mt-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset(beer.image.webPath) }}" class="card-img-top" alt="{{ beer.name }}">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ path('app_beer_show', {'id': beer.id}) }}" class="btn btn-secondary">{{ beer.name }}</a></h5>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ 'beer.origin'|trans }} : {{ beer.origin }}</li>
                    <li class="list-group-item">{{ 'beer.category'|trans }} : {{ beer.category }}</li>
                    <li class="list-group-item">{{ 'beer.brewing_type'|trans }} : {{ beer.brewingType }}</li>
                    <li class="list-group-item">{{ 'beer.alcohol'|trans }} : {{ beer.alcohol }}°</li>
                </ul>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
