{% extends 'admin_base.html.twig' %}

{% block body %}
<h1>{{ 'beer.list'|trans }}</h1>

{% embed "decorators/_card.html.twig" with {'class': 'my-3'} %}
    {% block header %}
    <div class="d-flex justify-content-between">
        <div>{{ 'beer.result_count'|trans({'count': beers|length }) }}</div>
        <a href="{{ path('app_beer_add')}}" class="btn btn-success"><i class="fas fa-plus"></i> {{ 'beer.add.name'|trans }}</a>
    </div>
    {% endblock %}

    {% block table %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>{{ 'beer.image'|trans }}</th>
                    <th>{{ 'beer.name'|trans }}</th>
                    <th>{{ 'beer.categories'|trans }}</th>
                    <th>{{ 'beer.origin'|trans }}</th>
                    <th>{{ 'beer.alcohol'|trans }}</th>
                    <th>{{ 'beer.brewing_type'|trans }}</th>
                    <th>{{ 'beer.user'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for beer in beers %}
                <tr>
                    <td>
                        {% if beer.image is not empty %}
                        <img src="{{ asset(beer.image.webPath) }}" style="max-height: 80px"/>
                        {% endif %}
                    </td>
                    <td>{{ beer.name }}</td>
                    <td><span class="badge badge-secondary m-1">{{ beer.category }}</span></td>
                    <td>{{ beer.origin }}</td>
                    <td>{{ beer.alcohol}}</td>
                    <td>{{ beer.brewingType}}</td>
                    <td>{{ beer.user }}</td>
                    <td>
                        <a href="{{ path('app_beer_edit', {'id': beer.id}) }}" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('app_beer_delete', {'id': beer.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'decorators/_pagination.html.twig' with {'route': 'app_beer_index'} %}
    {% endblock %}

    {% endembed %}

{% endblock %}