{% extends 'base.html.twig' %}

{% block body %}
<h1>Supprimer un article</h1>

{{ form_start(form) }}
{% embed 'decorators/_card.html.twig' with {"class": "border-danger"} %}
{% block body %}
    <p>Confirmer la suppression de l'article "{{ article.title }}".</p>
{% endblock %}

{% block footer %}
    {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger'}}) }}
    <a href="{{ path('app_article_index') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% endembed %}
{{ form_end(form) }}
{% endblock body %}