{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mt-5">

        <div class="col-12 col-md-12 col-lg-3 mr-5 mt-5 text-center self-align-center">
        
            <div class="card" id="details" style="width: 18rem;">
                <img src="{{ asset(beer.image.webPath) }}" class="card-img-top" alt="{{ beer.name }}">
                <div class="card-body">
                    <h5 class="card-title btn btn-secondary">{{ beer.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ 'beer.origin'|trans }} : {{ beer.origin }}</li>
                    <li class="list-group-item">{{ 'beer.category'|trans }} : {{ beer.category }}</li>
                    <li class="list-group-item">{{ 'beer.brewing_type'|trans }} : {{ beer.brewingType }}</li>
                    <li class="list-group-item">{{ 'beer.alcohol'|trans }} : {{ beer.alcohol }}°</li>
                </ul>
            </div>
        </div>

        <div class="col-12  col-md-12 col-lg-8 mt-5 text-justify">
            <p>{{ beer.description|raw }}</p>
        </div>
    </div>
</div>  

<hr/ class="mt-5 mb-0">

<div class="container-fluid" id="comments">
    <div class="row justify-content-center">
        <div class="col-10 col-md-7">
            <h2 class="text-white" data-toggle="collapse" data-target="#score-form" aria-expanded="false" aria-controls="collapseExample">{{ 'beer.add_score_comment'|trans }} <i class="fas fa-arrow-alt-circle-down"></i></h2>
            <form action="{{ path('app_beer_score', {'id' :beer.id}) }}" method="post" id="score-form" class="mb-5 collapse">
                <div class="alert alert-dark" role="alert">
                    Attention, vous ne pouvez évaluer qu'une fois chaque bière. Si vous publiez une nouvelle évaluation, la précédente sera supprimée.
                </div>
                <p class="text-white">{{ 'beer.add_score'|trans }}</p>
                <div class="form-group mb-4">
                    <ul class="list-group list-group-horizontal text-danger">
                        <li class="list-group-item"><input type="radio" name="score" value="1" class="mx-2"><i class="fas fa-beer">&nbsp;1</i></input></li>
                        <li class="list-group-item"><input type="radio" name="score" value="2" class="mx-2"><i class="fas fa-beer">&nbsp;2</i></input></li>
                        <li class="list-group-item"><input type="radio" name="score" value="3" class="mx-2"><i class="fas fa-beer">&nbsp;3</i></input></li>
                        <li class="list-group-item"><input type="radio" name="score" value="4" class="mx-2"><i class="fas fa-beer">&nbsp;4</i></input></li>
                        <li class="list-group-item"><input type="radio" name="score" value="5" class="mx-2"><i class="fas fa-beer">&nbsp;5</i></input></li>
                        <li><h3 class="m-2 text-white">/5</h3></li>
                    <input type="hidden" name="_token" value="{{ csrf_token('score' ~ beer.id) }}">
                    </ul>
                </div>
                <div class="form-group">
                    <label class="text-white" for="comment">{{ 'beer.add_comment'|trans }}</label>
                    <textarea class="form-control" id="comment-form" rows="3" name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-danger mb-3">{{ 'submit_comment'|trans }}</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center align-items-start" id="comment-list">
        {% for scoreComment in beer.scoreComments %}
            <div class="comment-item col-6 col-md-9 p-3 mb-3 ml-3">
                        {{ scoreComment.score }}/5&nbsp;<i class="fas fa-beer text-success"></i></br>
                        <p>{{ scoreComment.comment }}</p>
            </div>
            <div class="col-4 col-md-2 text-left ml-3">
                <button type="button" class="btn btn-danger text-lowercase">{{ scoreComment.user }}</button>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}