{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-3 mr-5 mt-5 text-center">
        
            <div class="card" style="width: 18rem;">
                <img src="{{ asset(beer.image.webPath) }}" class="card-img-top" alt="{{ beer.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ beer.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ 'beer.origin'|trans }} : {{ beer.origin }}</li>
                    <li class="list-group-item">{{ 'beer.category'|trans }} : {{ beer.category }}</li>
                    <li class="list-group-item">{{ 'beer.brewing_type'|trans }} : {{ beer.brewingType }}</li>
                    <li class="list-group-item">{{ 'beer.alcohol'|trans }} : {{ beer.alcohol }}°</li>
                </ul>
            </div>
        </div>

        <div class="col-8 mt-5 text-justify">
            <p>{{ 'beer.description'|trans }} : {{ beer.description }}</p>
        </div>
    </div>
</div>  

<hr/>

<div class="container">
    <div class="row">
        <div class="col-12 justify-content-center">
            <form action="{{ path('app_beer_score', {'id' :beer.id}) }}" method="post" id="score-form">
            <p>{{ 'beer.add_score'|trans }}</p>
                <input type="radio" name="score" class="btn btn-link m-1" value="1"><i class="fas fa-beer"></i></input>
                <input type="radio" name="score" class="btn btn-link m-1" value="2"><i class="fas fa-beer"></i></input>
                <input type="radio" name="score" class="btn btn-link m-1" value="3"><i class="fas fa-beer"></i></input>
                <input type="radio" name="score" class="btn btn-link m-1" value="4"><i class="fas fa-beer"></i></input>
                <input type="radio" name="score" class="btn btn-link m-1" value="5"><i class="fas fa-beer"></i></input>
                <input type="hidden" name="_token" value="{{ csrf_token('score' ~ beer.id) }}">
            <div class="form-group">
                <label for="comment">{{ 'beer.add_comment'|trans }}</label>
                <textarea class="form-control" id="comment-form" rows="3" name="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">{{ 'submit_comment'|trans }}</button>
            </form>
        </div>
    </div>
</div>

<div class="container" id="comment-list">
    {% for scoreComment in beer.scoreComments %}
    <div class="comment-item">
        <div class="comment-score">{{ scoreComment.score }}</div>
        {{ scoreComment.comment }}
    </div>
    {% endfor %}
</div>

{% endblock %}