<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Nain Titubant{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul class="language text-center">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_app_home', {'_locale': 'fr'}) }}">FR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_app_home', {'_locale': 'en'}) }}">EN</a>
            </li>
        </ul>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top text-uppercase">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav collapse navbar-collapse justify-content-center align-items-start text-center" id="main-menu">
                <li class="menu_left justify-content-center border-bottom border-danger">
                    {{ knp_menu_render('main_left', {'style': 'horizontal'}) }} 
                </li>
                <li class="mx-5">
                    <a href="{{ path('app_app_home')}}" class="navbar-brand">
                        <img src="{{ asset('img/logo.png') }}" width="120" alt="logo">
                    </a>
                    <a href="{{ path('app_app_home')}}" >
                        <i class="fas fa-home text-danger"></i>
                    </a>
                </li>
                <li class="menu_right justify-content-center border-bottom border-danger">
                    {{ knp_menu_render('main_right', {'style': 'horizontal'}) }} 
                </li>
            </ul>
        </nav>

        <div class="container">
            {# Affichage des messages flash #}
            <div class="flash-message">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                    {% if type == "error" %}{% set type = "danger" %}{% endif %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <main>
        {% block body %}
        {% endblock %}
        </main>
        {% block footer %}
        <footer class="footer bg-secondary text-center text-white mt-5 pt-2 mb-0">
            <div id="deco"></div>
            <div id="avertissement" class="container">
                <p class="border-bottom border-danger">Pour votre santé, mangez au moins 5 fruits et légumes par jour, <a class="text-decoration-none text-white" href="https://www.mangerbouger.fr/">www.mangerbouger.fr</a>.</br>
                L'abus d'alcool est dangereux pour la santé, sachez consommer avec modération. </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook mx-1"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter mx-1"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram mx-1"></i></a>
                        </p>
                    </div>
                    <div class="col-12 my-3 col-md-6 my-md-0">
                        <p class="text-uppercase copyright">2020 &copy; Made with <span class="text-danger">love</span> by Alex, Mégane, Michel &amp; Vanessa</p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
