<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Nain Titubant{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top text-uppercase">
            <div class="container">
                <a href="{{ path('app_app_home')}}" class="navbar-brand mx-auto">
                        <img src="{{ asset('img/logo.png') }}" width="120" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-menu">
                {{ knp_menu_render('main', {'style': 'horizontal'}) }} 
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_app_home', {'_locale': 'fr'}) }}">FR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_app_home', {'_locale': 'en'}) }}">EN</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {# Affichage des messages flash #}
            <div class="flash-message">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                    {% if type == "error" %}{% set type = "danger" %}{% endif %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        {% block footer %}
        <footer class="fixed-bottom bg-secondary text-center text-white pt-3 px-2">
            <div id="avertissement" class="container">
                <p>Pour votre santé, mangez au moins 5 fruits et légumes par jour, <a class="text-white" href="https://www.mangerbouger.fr/">www.mangerbouger.fr</a>.</br>
                L'abus d'alcool est dangereux pour la santé, sachez consommer avec modération. </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <i class="fab fa-facebook mx-1"></i>
                        <i class="fab fa-twitter mx-1"></i>
                        <i class="fab fa-instagram mx-1"></i>
                    </div>
                    <div class="col-12 my-3 col-md-6 my-md-0">
                        <p class="text-uppercase copyright">2020 &copy; Made with love by <span class="love">Alex, Mégane, Michel &amp; Vanessa</span></p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
